.team {
    width: 100%;
    background-image: url("/teamBackground.webp");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    padding-top: 250px;

    &__container {
        display: grid;
        grid-template-columns: 47% 53%;
        width: 100%;
        column-gap: 30px;
        justify-content: space-between;
        align-items: center;
    }

    &__text-block {
        .title {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            &__small {
                font-weight: 300;
                letter-spacing: -0.015em;
            }

            position: relative;

            .decorative-circle {
                position: absolute;
                top: 250px;
                left: 0;
                background-color: #ffc2bd80;
                width: 600px;
                height: 600px;
                border-radius: 50%;
                filter: blur(200px);
                z-index: -1;
            }
        }

        .description {
            margin-top: 60px;
            padding: 35px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(20px);

            p {
                max-width: 50ch;
            }
        }
    }

    .slider-container {
        width: fit-content;
        max-width: 700px;
        position: relative;
        justify-self: flex-end;
        #team-pagination {
            width: fit-content;
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 1400px) {
    .team {
        padding-bottom: 0px;
        padding-top: 200px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
        }

        &__text-block {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: baseline;
            width: 100%;
            .description {
                width: 100%;
                margin-top: 0px;
                p {
                    max-width: unset;
                }
            }
        }

        .slider-container {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 1280px) {
    .team__text-block {
        .title {
            row-gap: 15px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .team {
        padding-top: 150px;
    }

    .team__text-block .title {
        row-gap: 20px;
    }
}

@media screen and (max-width: 850px) {
    .team__text-block .title {
        row-gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .team {
        padding-top: 60px;
    }
}
