.typewriter{
    display: flex;
}

.transparent{
    color: transparent;
}

.caret{
    width: 4px;
    height: 1.1em;
    margin-left: 10px;
    background-color: black;
    animation: oscillating 1.2s steps(100) infinite;
}

@keyframes oscillating{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.8;
    }
}