/* ЦВЕТА */

$palette-skin-color: #fcd7b8;
$palette-gray-brown: #d6b8a3;
$palette-light-brown: #c28f61;
$palette-light-blue: #8eb7e2;
$palette-orange: #ffa569;
$palette-brown: #dd7948;
$palette-light-pink: #ffc2bd;
$palette-pink: #fa7268;
$palette-dark-brown: #7b471d;