
/* ШРИФТ */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    font-family: "Roboto", sans-serif;
}

.page-layout {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/Полосочка.svg");
    background-repeat: no-repeat;
}

.container {
    max-width: 1400px;
    padding: 30px 30px 0px 30px;
    width: 100%;
}

.darkening {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s;

    &_active {
        opacity: 1;
        z-index: 100;
        position: fixed;
    }
}

.project-paragraph {
    font-size: 18px;
    line-height: 22px;
}

h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.light {
    font-weight: 300;
}

.watermark-text {
    position: absolute;
    bottom: 0;
    right: -8px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 214px;
    line-height: 193px;
    z-index: -1;
    color: #f1f1f1;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 80px;
        line-height: 78px;
    }

    .project-paragraph {
        font-size: 16px;
        line-height: 20px;
    }

    .watermark-text {
        bottom: 0;
        right: -8px;
        font-size: 153px;
        line-height: 145px;
    }
    
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 65px;
        line-height: 67px;
    }

    .watermark-text {
        bottom: 0;
        right: -8px;
        font-size: 123px;
        line-height: 115px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
        line-height: 53px;
    }

    .project-paragraph {
        font-size: 14px;
        line-height: 17px;
    }

    .watermark-text {
        bottom: 0;
        right: -4px;
        font-size: 100px;
        line-height: 98px;
    }
}

// Не показывать затемнение и модальную навигацию при ширине экрана > 768px
// (нужно при условии, что пользователь открыл меню через бургер и растянул экран)
@media screen and (min-width: 850px) {
    .modal-menu,
    .darkening {
        display: none;
    }
}
